[Unit]
Description=LoRa Geo Server
Documentation=https://www.loraserver.io/
Wants=network-online.target
After=network-online.target

[Service]
User=geoserver
Group=geoserver
ExecStart=/usr/bin/lora-geo-server
Restart=on-failure

[Install]
WantedBy=multi-user.target
